name: Anac Feed

on:
  push:
    paths:
      - 'src/**' # Dispara o workflow quando qualquer arquivo dentro de "src" for comitado
      - '.github/workflows/feed.yml' # Dispara o workflow quando o próprio arquivo "feed.yml" for comitado
  schedule:
    - cron: '0 */4 * * *'  # Executa a cada 4h
  workflow_dispatch:      # Permite execução manual

jobs:
  build:
    runs-on: ubuntu-latest
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
              
      - name: ▶️ Executar script Deno
        run: deno run --allow-net=www.anac.gov.br,8.8.8.8,8.8.4.4 --allow-read --allow-write --unsafely-ignore-certificate-errors --allow-run src/main.ts    

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Automatic Update Anac Feed"

